<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Open Times Confirmation</title>
</head>
<body>
<h2>Open Times Confirmation</h2>
<p>Thank you, your available time is updated successfully!</p>
<p>Doctor <span th:text="${doctorName}"></span></p>
<p>Patient ID: <span th:text="${patient_id}"></span></p>
<p>Doctor ID: <span th:text="${doctor_id}"></span></p>
<p>Date: <span th:text="${appointment.date}"></span></p>
<p>Time: <span th:text="${appointment.startTime}"></span> - <span th:text="${appointment.endTime}"></span></p>
<!-- Add more fields as necessary -->
</body>
</html>
